<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLinQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AutoLinQClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AutoLinQ_lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AD10D561C96B14C00DD7555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD10EFB1C97A6E200DD7555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0BB4C51CCB888100EB7394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE2CDBE1CCE4CDC0080E624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
